@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.container-navbar {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 20px;
  z-index: 1000;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.373);
}

.ul-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.li-navbar {
  list-style: none;
  display: flex;
  padding-right: 70px;
}

li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: flex;
  font-size: 18px;
  position: relative;
  transition: font-weight 0.3s ease;
}

li a:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: #000000; /* You can set the underline color here */
  transition: width 0.3s ease;
}

li a:hover:after {
  width: 100%;
}

.logo{
  width: 20px;
  height: 30px;
  padding-left: 10px;
}

.judul-logo{
  font-size: 18px;
  padding-left: 20px;
}

.logo-container{
  display: flex;
}
/* navbar end */

/* home */
.home-container img {
  width: 100%;
  margin-top: 40px;
}

.home-container {
  display: flex;
  align-items: center;
  height: 100vh;
  font-size: 40px;
  padding-left: 50px;
  background-image: url(foto/background-home-01.png);
  background-position: center; /* Adjust the background position here */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-size: 1800px; /* Ensure the background image covers the entire element */
  background-position-x: -20rem;
}

.home-container h3 {
  font-size: 20px;
  padding-bottom: 20px;
}

.home {
  /* background-image: url(foto/background-home-01.png); */
  background-position: center; /* Adjust the background position here */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-size: 1600px; /* Ensure the background image covers the entire element */
  min-height: 100vh;
}

.foto-home {
  padding-left: 250px;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.75));
}

.btn-home {
  max-width: 200px;
  padding: 10px 20px;
  background-color: #59cb5e;
  text-align: center;
  border-radius: 42px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  border-style: solid;
  border-color: #59cb5e;
  transition: all 0.3s;
  text-decoration: none;
  transition: all 0.3s;
}

.btn-home:hover {
  background-color: #fff;
  border-color: #59cb5e;
  color: #59cb5e;
}

/* CSS for the animation */
@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

#animated-title {
  animation: fadeInUp 1.5s ease forwards;
}

/* CSS for the animation */
@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

#animated-image {
  animation: fadeInUp 1.5s ease forwards;
}

.cursor{
  display: inline-block;
  width: 3px;
  background-color: black;
  margin-left: 0.1rem;
  animation: blink 1s infinite;
}

@keyframes blink{
  0% {background-color: #000000;}
  50% { background-color: transparent;}
  100% { background-color: #000000;}
}

/* home end */

/* menu */
.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  font-size: 40px;
  flex-direction: column;
}

.header-upper-menu {
  margin: 5rem 0;
}

.upper-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.column-upper-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: relative; */
  background-color: #59cb5e;
  border-radius: 40px;
}

.menu-upper-list {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #59cb5e; */
  width: 350px;
  height: 400px;
  transform: translateY(-3rem);
}

hr {
  width: 50%;
  height: 5px;
  background-color: #000000;
  border-radius: 5px;
  margin: 10px;
  border: none;
}

.menu-upper-list img {
  width: 300px;
  height: 300px;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));
}

.upper-menu .column-upper-menu:nth-child(2) img {
  width: 400px;
  height: 600px;
}

.upper-menu .column-upper-menu:nth-child(2) {
  width: 400px; 
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B18923;
}

.upper-menu .column-upper-menu:nth-child(3) {
  background-color: #c96b00;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-menu {
  margin: 5rem 0;
  font-size: 50px;
}

.grid-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.btn-menu {
  width: 300px;
  padding: 10px 20px;
  background-color: white;
  text-align: center;
  border-radius: 40px;
  font-size: 30px;
  font-weight: bold;
  color: #59cb5e;
  border-style: solid;
  border-color: #59cb5e;
  transition: all 0.3s;
  text-decoration: none;
  border-width: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn-menu:hover {
  background-color: #59cb5e;
  border-color: #59cb5e;
  color: white;
}

.column-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}

.column-menu img {
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));
}

.menu-list {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #59cb5e;
  border-radius: 40px;
  width: 350px;
  height: 400px;
  transform: translateY(-3rem);
}

.menu-list img {
  width: 300px;
  height: 300px;
  transform: translateY(-5rem);
}
.menu-list h3, hr, h4 {
  transform: translateY(-2rem);
  font-size: 25px;
}

/* menu end */



/* about */
.content {
  background-image: url(foto/green.png);
  background-position: -650px 0px;
  height: 50vh;
}


/* content */

.about-content {
  display: flex;
}

.about-content .poci {
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 50px;
}

.about-text {
  margin: 5%;
  margin-top: 16.5%;
}

.about-text h1 {
  font-size: 2.5rem;
}

.about-text p {
  font-size: 1rem;
  margin-top: 2%;
}

.poci img {
  height: 500px;
  margin-left: 10%;
  margin-top: -5%;
  margin-left: -5%;
}
/* end about */

/* contact */

.contact {
  overflow-x: hidden;
  background-image: url(foto/about\ background-01.png);
  background-position: -450px 0px;
}

.head {
  font-size: 30px;
  text-align: center;
  transform: translateY(150px);
}

.map {
  margin-left: 33rem;
  margin-right: 25rem;
  margin-top: 230px
}

.wa {
  display: flex;
  margin-top: 30px;
}

.wa i {
  color: rgb(0, 255, 0); 
  animation: animateText 2s infinite;
}

.wa a {
  margin-left: 43px;
  text-decoration: none;
  color: black;
}

.location {
  display: flex;
  margin-top: 50px;
}

.location a {
  margin-bottom: 50px;
  margin-left: 44px;
  text-decoration: none;
  color: black;
}

.location i {
  animation: animateText 2s infinite;
}

.head2 {
  font-size: 30px;
  text-align: center;
  transform: translateY(320px);
}

.g-map {
  transform: translateX(330px);
  height: 300px;
  margin-top: 350px;
  margin-bottom: 100px;
}

@keyframes animateText {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* end contact */

/* FAQ */

section {
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 2rem 0rem;
  margin-top: 5rem;
}

.faq {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #000000;
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3{
  font-size: 1.8rem;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
}

.faq.active{
  max-height: 300px;
}

/* end FAQ */